package app

import (
	"fmt"
)

// Config holds Gin server configuration
type Config struct {
	Host string `json:"host"`
	Port int    `json:"port"`
	Mode string `json:"mode"`
}

// GetAddr returns the address string for Gin server
func (c *Config) GetAddr() string {
	return fmt.Sprintf("%s:%d", c.Host, c.Port)
}
